$color-purple-10: #4F37AF;

$color-gray-10: #484A6A;
$color-gray-20: #595B83;
$color-gray-30: #CBD5E0;

$color-white-10: #FFFFFF;
$color-white-20: #FFF7F7;

$color-red-10: #FFD0D0;

$background-color: #D0D0D0;
